html,
body {
  min-width: 290px;
  color: black;
  background-color: #ffffff;
  font-family: "Open-Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* Navbar */

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.145);
  background-color: black;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #6d6e71;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  text-align: center;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #6d6e71;
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover {
  color: orange;
}

header {
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  cursor: pointer;
}

/* Main */

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header {
  text-align: left;
  color: black;
}

section article {
  color: #131415;
  margin: 15px;
  font-size: 1em;
}

section article a {
  color: rgb(23, 23, 216);
}

section article a:hover {
  color: orange;
}

section article li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* Media */

@media only screen and (max-width: 768px) {
  #navbar {
    position: fixed;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
  }

  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #navbar header {
    color: black;
  }
}
